/* RegistrationMenu.css */

.card {
  width: 60%; /* Adjust the width as needed */
  margin: 20px auto; /* Added margin for space */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}


input {
  padding: 10px;
  margin: 5px 0;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  width: 95%; /* Adjust the width as needed */
  border: none;
  border-bottom: 2px solid red;
}

button {
  background-color: #ff8800;
  color: #ffffffd6;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  /* Set both left and right margins to auto for center alignment */
}

button:hover {
  background-color: #da5102;
}
